button{
    height: 7vh;
    width: 7vh;
    border-radius: 48%;
    font-size: 1.5em;
    font-family: 'EB Garamond', serif;
    background-color: #3a4452;
    color: white;
    box-shadow: 0.5px 0.5px 3px 1.5px rgba(178, 173, 173, 0.778);
    border: none;
    margin: 5px;
    font-weight: lighter;
}

.box{
    background-color: #3a4452;
    padding: 1.2%;
    border-radius: 4%;
    box-shadow: 1px 1px 3px 5px rgb(21, 17, 17);
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa9898;
}

.new{
    height: 7vh;
    width: 14vh;
}

.upper{
    font-size: 1.3rem;
    color: rgb(255, 191, 0);
}
input{
    height: 8vh;
    margin: 20px 0px;
    width: 95%;
    text-align: end;
    background-color: transparent;
    font-size: 2.8vh;
    color: white;
    padding-left: 2px;
    font-family: 'EB Garamond', serif;

}
input:focus {
    outline: none;
}
button:hover{
    cursor: pointer;
}